.container{width:1000px;justify-content:center;align-items:center}
.item{border: 1px solid #ccc}
pre,code{font-size:0.85em;font-family:Consolas,Inconsolata,Courier,monospace}
code{margin:0 0.15em;padding:0 0.3em;white-space:pre-wrap;border:1px solid #EAEAEA;background-color:#F5F6F7;border-radius:3px;display:inline}
pre{font-size:1em;line-height:1.2em}
pre code{white-space:pre;overflow:auto;border-radius:3px;border:1px solid #AAA;padding:0.5em 0.7em;display:block !important}
.markdown-here-wrapper[data-md-url*="wordpress."] code span{font:inherit}
.markdown-here-wrapper[data-md-url*="wordpress."] pre{background-color:transparent}
p{margin:0 0 0.5em 0 !important;text-indent:30px}
table,pre,dl,blockquote,q,ul,ol{margin:1.2em 0}
ul,ol{padding-left:2em}
li{margin:0.5em 0;font-size:16px}
li p{margin:0.5em 0 !important}
ul ul,ul ol,ol ul,ol ol{margin:0;padding-left:1em}
ul ul,ul,ul{list-style-type:square;font-size:16px}
ol ol,ul ol{list-style-type:lower-roman}
ul ul ol,ul ol ol,ol ul ol,ol ol ol{list-style-type:lower-alpha}
dl{padding:0}
dl dt{font-size:1em;font-weight:bold;font-style:italic}
dl dd{margin:0 0 1em;padding:0 1em}
blockquote,q{border-left:4px solid #DDD;padding:0 1em;color:#777;quotes:none}
blockquote::before,blockquote::after,q::before,q::after{content:none}
h1,h2,h3,h4,h5,h6{margin:20px 0 10px;padding:0;font-weight:bold;color:#000000}
h1{font-size:32px;border-bottom:1px solid #777}
h2{font-size:22px;border-bottom:1px solid #AAA}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:16px;color:#777}
table{padding:0;border-collapse:collapse;border-spacing:0;font-size:1em;font:inherit;border:0}
tbody{margin:0;padding:0;border:0}
table tr{border:0;border-top:1px solid #CCC;background-color:white;margin:0;padding:0}
table tr:nth-child(2n){background-color:#F0F4F4}
table tr th,table tr td{font-size:14px;border:1px solid #CCC;margin:0;padding:0.5em 0.5em}
table tr th{font-weight:bold;background-color:#E1E8E8}
p{font-size:16px;line-height:1.75em;padding-right:0.5em;padding-left:0.5em}
strong,b{color:#BF360C}
th {word-break: keep-all}
